<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(head, main)"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head th:replace="${head}"></head>

    <body class="d-flex flex-column min-vh-100 m-3">
        <header th:replace="~{fragments/header :: header}"></header>

        <main class="container py-4" th:replace="${main}"></main>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>

</html>

