<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">
<head th:replace="~{fragments/head :: head(~{}, ~{::title})}">
    <title>Login</title>
</head>
<body>
<main class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-body">

            <h3 class="mb-4">Acesso ao Sistema</h3>
            <div th:if="${param.error}" class="alert alert-danger">
                Usuário ou senha inválidos!
            </div>

            <form class="row g-3" th:action="@{/login}" method="post">
                <div class="col-md-12">
                    <input class="form-control" type="text" name="username" placeholder="Usuário" required>
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="password" name="password" placeholder="Senha" required>
                </div>
                <div class="col-12 mt-3">
                    <input class="btn btn-outline-secondary w-100" type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
